.cont-principal{
    width: 95%;
    height: 1000px;
    border: solid 0.1px #535c5340;
    margin: 0 auto;
}

.ct-filtro{
    border: solid 0.1px #535c5340;
    height: 400px;
}

.ct-ofertas{
    border: solid 0.1px #535c5340;
    height: 900px;
}